body {
    color: white;
    font-family: 'Roboto', sans-serif;
}

main {
    background: url('../img/team.jpg');
    height: 100vh;
}

nav {
    position: absolute;
    width: 100%;
}

h4 {
    font-size: 24px;
    font-weight: 700;
}

.row img {
    max-width: 100%;
    margin: 10px 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#intro {
    text-align: center;
    padding-top: 120px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.28);
}

#intro-content h3 {
    margin-bottom: 20px;
}

#add-intro {
    color: black;
    height: 50vh;
    padding: 10px 0 0 0;
}

#thank {
    color: black;
    height: 50vh;
}

#use-me {
    color: black;
    background: #DAF0EE;
    padding: 20px 10px;
    text-align: center;
}

#command-title {
    color: black;
    padding: 0 0 10px 0;
}

footer {
    background: #3b413c;
    text-align: center;
}

footer p {
    margin: 0;
    padding: 10px;
    color: #ccc;
}

footer p a {
    color: white;
}

#header-content {
    padding: 10px 5px;
    margin: 0;
}

.row {
    margin: 0;
}

p {
    font-size: 18px;
}



dd {
    color: black;
}

dl {
    font-size: 18px;
}

@media(min-width: 768px) {
    .dl-horizontal dt {
        width: 300px;
        padding: 0 0 8px 0;
    }

    .dl-horizontal dd {
        margin-left: 320px;
    }

    .row {
        padding: 30px;
    }
    #intro {
        padding-top: 180px;
    }
    #add-intro {
        padding: 30px;
    }

    main h2 {
        font-size: 40px;
        font-weight: 600;
    }  

    main h3 {
        font-weight: 300;
    }
    }  
}



